---
apiVersion: v1
kind: ConfigMap
metadata:
  name: github-event-poller-config
  labels:
    app: github-event-poller
data:
  CHECK_INTERVAL_ENV: '"60"'
  DOCKER_IMAGE_URL_ENV: '"https://hub.docker.com/v2/repositories/gerundium/brand-voting-app/tags/"'
  GITHUB_BRANCH_ENV: '"dev"'
  GITHUB_REPO_ENV: '"gerundium/container-brand-voting-app"'
  GITHUB_TOKEN_ENV: '"example_pat_tVSfhDB4RENMNHgQ5kYPGizscoGLogQRZPGIYfQY962vWWyMIv7PYvAhnJl1ricWWd9jNo8d853ezGTFmN"'
  TRIGGER_URL_ENV: '"http://webhook-eventsource-svc.argo-events.svc.cluster.local:12000/example"'
